<html>
    <title>
        ML APP
    </title>
    <body>
        <form action = "{{url_for('predict')}}" method='post'>
            <label>Experience: </label>


            <select name="experience" id="experience">
            <option value="one">One</option>  
            <option value="three">Three</option>
            <option value="four">Four</option>
            <option value="five">Five</option>
            <option value="six">Six</option>
            </select>
            
            <br>
            <div><br></div>
            <label>Test Score: </label><input type = "text" name = "test_score" /><br>
            <div><br></div>
            <label>Interview Score: </label><input type = "text" name = "interview_score" /><br>
            <div><br></div>
            <button type = "submit">Predict</button>

        </form>

        {{ prediction }}


    </body>


</html>

